.margin-y{
    margin: 6.4rem 0;

    @include responsive-max(768px){
        margin: 4rem 0;
    }
}

@include responsive-min(76.8rem){
    ::-webkit-scrollbar {width: 1rem;}
    ::-webkit-scrollbar-track {background: $color-gray-300; }
    ::-webkit-scrollbar-thumb {background: $color-gray-500; border-radius: 1rem; border: .2rem solid $color-gray-300;}
    ::-webkit-scrollbar-thumb:hover {background: $color-gray-700;}
}