// Sistema baseado no bootstrap

.container,
.container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

// definindo os breakpoints do container
.container{

    @include responsive-min(576px){
        max-width: 54rem;
    }

    @include responsive-min(768px){
        max-width: 72rem;
    }

    @include responsive-min(992px){
        max-width: 96rem;
    }

    @include responsive-min(1200px){
        max-width: 114rem;
    }

    @include responsive-min(1400px){
        max-width: 138rem;
    }

}

// definindo a row como flex
.row{
    display: flex;
    flex-wrap: wrap;

    & > * {
        box-sizing: border-box;
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
    }

    @include responsive-min(768px){        
        >:first-child{
            padding-left: 0;
        }
        
        >:last-child{
            padding-right: 0;
        }
    }
}

// criando as 12 colunas
@for $i from 1 through 12 {

    .col-#{$i}{
        flex: 0 0 auto;
        width: calc(100% / 12 * #{$i});
        padding: 0 1.2rem;

        @include responsive-max(768px){
            width: 100%;
            padding: 0 2.4rem;
        }
    }

}
