@mixin flex ($align, $justify, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin responsive-max ($screen){
    @media(max-width: $screen){
        @content;
    }
} 

@mixin responsive-min ($screen){
    @media(min-width: $screen){
        @content;
    }
}

@mixin font-base($size, $line){

    font-family: 'Open sans', sans-serif;
    font-weight: 700;
    font-size: $size;
    line-height: $line;
    
}

@mixin transition ($speed){
    transition: all $speed ease-in;
}

