
.font{

    &--section{
        @include font-base(2.8rem, 3.4rem);
        text-transform: uppercase;

    }

    &--feed-1{
        @include font-base(2.6rem, 3rem)
    }

    &--feed-2{
        @include font-base(2rem, 2.4rem)
    }

    &--feed-3{
        @include font-base(1.6rem, 2.2rem)
    }

    &--feed-4{
        @include font-base(1.4rem, 1.9rem)
    }

    &--hat{
        @include font-base(1.2rem, 1.6rem);
        text-transform: uppercase;
    }

}