.btn{
   outline: .2rem solid $color-gray-700;
   outline-offset: -.2rem;
   box-sizing: border-box;
   border-radius: .4rem;
   padding: 1.6rem;
   @include flex(center, center, row);
   gap: 1.2rem;
  
   font-size: 1.4rem;
   line-height: 1.6rem;
   color: $color-gray-700;
   font-weight: 700;

   text-decoration: none;
   text-transform: uppercase;

   @include transition(.3s);


   &::after{
        content: "";
        display: inline-flex;
        color: $color-gray-700;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.999999 11L6 6L1 0.999999' stroke='%23707070'  stroke-width='1.5'/%3e%3c/svg%3e ");       
        width: .8rem;
        height: 1.2rem;
        @include transition(.3s);
    }

   &:hover{
        background-color: $color-gray-900;
        outline-color: $color-gray-900;

        color: $color-red-300;


        &::after{
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.999999 11L6 6L1 0.999999' stroke='%23ED686B'  stroke-width='1.5'/%3e%3c/svg%3e ");       
        }
   } 


}