.card--video{
    @include flex(flex-start, flex-start, column);
    border-radius: .8rem .8rem .4rem .4rem;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    
    figure{
        outline-offset: -.5rem;
        outline: .5rem transparent solid ;
        border-radius: .8rem .8rem 0 0;
        @include flex(center, center, row);
        width: 100%;
        position: relative;

        &:before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.50);
            height: 100%;
            width: 100%;
            opacity: 0;
            @include transition(.3s);
        }

        span{
            opacity: 0;
            position: absolute;
            bottom: 1.6rem;
            right: 1.6rem;
            font-size: 1.2rem;
            color: $color-red-100;
            display: flex;
            gap: .8rem;
            @include transition(.3s);

            &::before{
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.85 0.5C9.08156 0.5 11.7 2.80859 11.7 5.65625C11.7 8.50391 9.08156 10.8125 5.85 10.8125C5.32406 10.8125 4.815 10.7451 4.32844 10.6309C3.46781 11.1875 2.22553 11.75 0.701719 11.75C0.421031 11.75 0.166781 11.5771 0.0567562 11.3076C-0.053325 11.0381 -0.000196874 10.7275 0.189534 10.5166C0.204187 10.5049 0.826312 9.79883 1.28616 8.87598C0.483187 7.99414 0 6.875 0 5.65625C0 2.80859 2.61928 0.5 5.85 0.5ZM4.62937 9.2334C5.04 9.35645 5.45062 9.40625 5.85 9.40625C8.33062 9.40625 10.35 7.72461 10.35 5.65625C10.35 3.58789 8.33062 1.90625 5.85 1.90625C3.36937 1.90625 1.35 3.58789 1.35 5.65625C1.35 6.6875 1.84809 7.44922 2.26603 7.90918L2.92781 8.63867L2.48372 9.52637C2.38331 9.70215 2.27053 9.93066 2.15297 10.124C2.65106 9.97461 3.14156 9.74316 3.61969 9.40918L4.08937 9.13086L4.62937 9.2334ZM12.42 4.25586C15.525 4.37891 18 6.6377 18 9.40625C18 10.625 17.5162 11.7441 16.7147 12.626C17.1731 13.5488 17.7947 14.2549 17.8116 14.2666C18 14.4775 18.0534 14.7881 17.9184 15.0576C17.8341 15.3271 17.5781 15.5 17.2969 15.5C15.7753 15.5 14.5322 14.9375 13.6716 14.3809C13.185 14.4951 12.6759 14.5625 12.15 14.5625C9.84375 14.5625 7.84969 13.3848 6.89625 11.6768C7.38281 11.6094 7.84969 11.4951 8.29406 11.3369C9.08156 12.4268 10.5159 13.1562 12.15 13.1562C12.5494 13.1562 12.96 13.1064 13.3706 12.9834L13.9106 12.8809L14.3803 13.1592C14.8584 13.4932 15.3478 13.7246 15.8484 13.874C15.7303 13.6807 15.6178 13.4521 15.5166 13.2764L15.0722 12.3887L15.7331 11.6592C16.1522 11.2021 16.65 10.4375 16.65 9.40625C16.65 7.46387 14.8697 5.86426 12.5747 5.67383L12.6 5.65625C12.6 5.17285 12.5381 4.7041 12.42 4.25586Z' fill='%23F6D0D1'/%3e%3c/svg%3e ");
                height: 1.6rem;
                width: 1.8rem;
                display: inline-flex;
            }
        }

        img{
            width: 100%;
            object-fit: cover;
        }
    }

    .content{
        @include flex(flex-start, flex-end, column);
        @include transition(.3s);
        border-radius: 0 0 .4rem;
        height: 100%;
        left: 0;
        padding: 1.6rem ;
        top: 0;
        width: 100%;
        background-color: $color-gray-800;

        i{

            position: absolute;
            top: 1.6rem;
            left: 1.6rem;

            svg{
                height: 3.3rem;
                width: 3.3rem;
                path{
                    @include transition(.3s);
                    fill: $color-white;
                }
            }
        }

        h2{
            color: $color-white;
        }
        span{
            color: $color-red-300;
            margin: 0 0 0.8rem;
            display: flex;
        }
    }

    &:hover{

        figure{
            outline-color: $color-red-300 ;

            &::before{
                opacity: 1;
            }
            span{
                opacity: 1;
            }
        }

        .content{
            background-color: $color-gray-900;
        }

        i{
            path{
                fill: $color-red-300;
            }
        }
    }

    @include responsive-min(768px){
        &.video--large{
            border-radius: .8rem;
            position: relative;
    
            figure{
    
                @include flex(center, center, row);
                width: 100%;
                outline: none;
    
                span{
                    display: none;
                }

                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                }
    
                img{
                    width: 100%;
                    height: 64rem;  
                    object-fit: cover;
                }
            }
    
            .content{
                border-radius: .8rem;
                outline-offset: -.5rem;
                outline: .5rem transparent solid ;
                padding: 4.9rem 27rem 4.9rem 4.2rem ;
                position: absolute;
                top: 0;
                width: 100%;
                background-color: transparent;

                h2{
                    font-size: 2.6rem;
                    line-height: 3rem;
                }
                
            }
    
            i{
                position: relative;
                left: 0;
                top: 0;

                svg{
                    height: 6rem;
                    width: 6rem;
                }
            }
    
            span{
                margin: 1.6rem 0 0.8rem;
    
            }

            &:hover{
                .content{
                    outline-color: $color-red-300;
                }
            }
    
        }
    }

    @include responsive-max(768px){
        &.video--large{
            margin-bottom: 2.4rem;

            img{
                height: 20rem;
            }
        }
    }
}
