
.card--colunista{
    border-radius: .8rem;
    background-color: $color-gray-300;
    padding: 2.2rem;
    @include flex(flex-start, flex-start, row);
    gap: 4.8rem;
    width: 20.9rem;
    height: 27rem;
    overflow: hidden;
    @include transition(.3s);


    .small{
        @include flex(center, center, column);
        gap: 1.6rem;

        h2{
            text-align: center;
            color: $color-gray-900;
            max-width: 12rem;
            @include transition(.3s);
        }
        img{
            width: 16.5rem;
            height: 16.5rem;
            object-fit: cover;
            border-radius: .8rem;
            filter: grayscale(1);
            @include transition(.3s);
        }
    }


    .infos{
        min-width: 41.8rem;
        opacity: 0;
        @include flex(flex-start,center, column);
        gap: .8rem;
        @include transition(.3s);
        height: 100%;

        h3{
            color: $color-red-700;
        }
        h2{
            color: $color-gray-900;
        }
        p{
            color: $color-gray-700;
            max-width: 31.5rem;
        }
    }

    @include responsive-min(768px){

       


        &:hover{
            width: 67.5rem;
    
            .small{
                img{
                    filter: grayscale(0);
                }
        
                h2{
                    color: $color-red-700;
                }
            }
    
            .infos{
                opacity: 1;
            }
        }
    } 

    @include responsive-max(768px){
        margin-left: 2.4rem;
    }

    

}