.sec--videos{
    overflow: hidden;
    padding-bottom: 5.2rem;

    .container{

        position: relative;
    
        &::before {
            content: "";
            position: absolute;
            background: $gradient-black;
            border-radius: .8rem;
            height: calc(100% + 1.2rem);
            left: -5.2rem;
            top: 4rem;
            width: calc(100vw - (100vw - 100%) / 2 + 4rem);
            z-index: -1;


            @include responsive-max(1500px){
                width: calc(100% + 10.4rem);
                left: -5.2rem;
            }

            @include responsive-max(768px){
                width: 100vw;
                left: 0;
                border-radius: 0;
                top: -6.4rem;
                height: calc(100% + 10.4rem);
            }
        }
    }

    .carrosselVideos{
        height: 64rem;

       
    }

    @include responsive-max(768px){

        overflow: visible;
        padding-bottom: 0;

        .carrosselVideos{
            height: auto;

            .card--video:first-of-type{
                margin-left: 2.4rem;
            }
            
        }
        .col-3{
            padding: 0;
        }

    }
}

.sec--colunistas{
    margin-top: 6.4rem;

    @include responsive-max(768px){

        margin-top: 8rem;
    }
}