.sec{
    &--title{
        border-radius: .8rem;
        padding: 1.6rem 1.6rem 1.6rem 2.2rem;
        @include flex(center, space-between, row);
        gap: 1.6rem;
        margin-bottom: 1.6rem;

        background-color: $color-gray-300;

        h2{
            flex: 1;
            color: $color-red-700;
        }
 
        
        &-controls{
            @include flex(center, center, row);
            gap: 1.2rem;

            .nav{

                @include flex(center, center, row);
                border-radius: .4rem;
                font-size: 0;
                height: 4.8rem;
                width: 4.8rem;
                @include transition(.3s);
                cursor: pointer;
                outline: .1rem solid $color-gray-500;
                outline-offset: -.1rem;
                background-color: $color-gray-300;
        
                &:disabled{
                    opacity: .3;
                    pointer-events: none;
                }
        
                &-prev{
                    transform: rotate(180deg);
                }
        
                &:hover{
                    background-color: $color-gray-500;
                }

                &::before{
                    content: "";
                    height: 1.6rem;
                    width: 1rem;
                    display: inline-flex;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.999999 15L8 8L1 1' stroke='%23707070' stroke-width='1.5'/%3e%3c/svg%3e ");
                }
           }

           @include responsive-max(768px){
            .nav-prev{
                display: none;
            }
            .nav-next{
                transform: rotate(0deg);
                background: $color-white;
                outline: none;
            }
        } 

        }

        &.black{
            background-color: $color-gray-800;
            margin-bottom: 3.2rem;
            
            h2{
                color: $color-red-300;
            }
            
            .nav{
                background-color: $color-black;
                outline: none;

                &::before{
                    height: 1rem;
                    width: 1.6rem;
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 0.999999L8 8L15 1' stroke='%23F6D0D1' stroke-width='1.5'/%3e%3c/svg%3e ");
                }

                &:hover{
                    background-color: $color-gray-900
                }
            }

            @include responsive-max(768px){
                .nav-next{
                    display: none;
                }
                .nav-prev{
                    display: flex;
                    transform: rotate(270deg);
                    background: transparent;
                    outline: .2rem solid $color-gray-700;
                    outline-offset: -.2rem;
                }
            } 
        }

        @include responsive-max(768px){
            margin-bottom: 2.4rem;
            a{
                display: none
            }
        }
    }
}